.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.galleryContainer {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
}

.galleryTrack {
  display: flex;
  flex-wrap: nowrap;
  gap: 40px;
  padding: 0 50px;
  width: max-content;
}
